<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </head>
    <body>
        <nav class="blue"> 
            <div class="nav-wrapper container">
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="/home">Home</a></li>
                <li><a href="/orderlists">Order List</a></li>
                <li><a href="#">Products</a></li>
                </ul>
            </div>
        </nav>
    </body>
</html>